@charset "UTF-8";
/************************************************

Stylesheet: Main Stylesheet

*************************************************/
/*********************
GENERAL STYLES
*********************/

*{
  font-family: 'Roboto';
}

/*
header
*/

.header,
.sticky-container{
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  background-color: #CFD8DC;
  height: auto;
  /*background-color: #B2EBF2;*/
}

.header a{
  color: #37474F;
  font-weight: 500;
}

.head{
  padding: 0 0 0 0;
  width: 100%;
  max-width: none;
}

.head img{
  padding-bottom: 10px;
}

h3{
  font-size: 16px;
  margin: 0;
  color: #000;
}

h3 small{
  color: rgba(0,0,0,0.5);
}


/*
top-bar
*/
.top-bar,
.top-bar ul.menu{
  background-color: #CFD8DC;
  /*background-color: #B2EBF2;*/
  font-size: 14px;
  padding-bottom: 0;
  padding-top: 0;
}

.topbar-container{
  padding: 0;
}

.top-bar a{
  color: #000;
  font-weight: 600;
}

/* dropdown menu arrows */
.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a:after{
    border-color: #000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.top-bar .active>a{
  border-bottom: 5px solid #00BCD4;
  /*box-shadow: 0 2px 3px rgba(0,0,0,0.3);*/
  font-weight: 600;
  color: #000;
}

.menu .active>a{
  background: #CFD8DC;
}

.top-bar a:hover{
  /*border-radius: 5px;*/
  /*box-shadow: 0 2px 3px rgba(0,0,0,0.3);*/
  font-weight: 600;
  color: rgba(0,0,0,0.6);
}

.top-bar ul.is-dropdown-submenu{
  border-radius: 0;
  border: 0;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  background-color: #FFF;
}

.is-drilldown{
  min-height: 0 !important;
}

ul.is-drilldown-submenu{
  border-radius: 0;
  border: 0;
  background-color: #455A64;
}

.is-drilldown .active>a{
  background-color: #455A64;
  color: #FFF;
}

li.is-dropdown-submenu-item.active>a{
  border-radius: 0;
  border-bottom: none;
  background-color: #FFF;
  box-shadow: 0 0 0;
  /*color: #00BCD4;*/
  font-weight: 600;
  color: #000;
}

li.is-dropdown-submenu-item a:hover{
  border-radius: 0;
  box-shadow: 0 0 0;
  /*background-color: #FFA000;*/
  font-weight: 600;
  color: rgba(0,0,0,0.6);
}

.title-bar{
  background-color: #607D8B;
}


/*
Pages
*/

#inner-content{
  max-width: 1020px;
}

h1.page-title{
  font-weight: 500;
  margin-bottom: 0;
  color: #455A64;
  font-size: 36px;
}

.entry-content h2{
  color: #455A64;
  font-weight: 400;
  font-size: 32px;
}

.entry-content h3{
  color: #607D8B;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
  border-bottom: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: none;
  border-color: #00BCD4;
}

.entry-content h4{
  color: #607D8B;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 24px;
}

@media screen and (max-width: 39.9375em) {
  h1.page-title{
    font-size: 24px;
  }

  .entry-content h2{
    font-size: 20px;
  }

  .entry-content h3{
    font-size: 16px;
  }

  .entry-content h4{
    font-size: 16px;
  }
}

.landscape-img img{
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

@media screen and (min-width: 40em) {
  .landscape-img img{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

#content #inner-content.row{
  padding: 0;
}

.pageHr{
  width: 100%;
  background-color: #00BCD4;
  border-color: #00BCD4;
  border-width: 7px;
  float: left;
  padding-top: 0;
  margin-top: 0;
}

.box{
  display: inline-block;
}

.entry-content ul,
.entry-content ol{
  list-style: none;
  padding:0;
}

.entry-content ul li,
.entry-content ol li{
  padding-left: 1em;
  margin-bottom: 5px;
}

.entry-content ul li:before {
  font-family: 'FontAwesome';
  font-size: 12px;
  content: '\f046'; /*046*/
  margin:0 10px 0 0px;
  color: #00BCD4;
}

.entry-content ol li:before {
  font-family: 'FontAwesome';
  font-size: 12px;
  content: '\f10c';
  margin:0 10px 0px 0px;
  color: #00BCD4;
}

img.circle{
  border-radius: 100%;
}


/*
Post
*/
.article-header h2 a,
h1.single-title{
  color: #455A64;
}

.article-header h1,
.article-header h2{
  font-weight: 600;
  margin-bottom: 0;
}

.attachment-post-thumbnails{
  border-radius: 100%;
}

.postHr{
  width: 40%;
  background-color: #00BCD4;
  border-color: #00BCD4;
  border-width: 5px;
  padding-top: 0;
}

/*
Indicateurs pour les classes
*/
.rond{
  border-radius: 100%;
  display: inline-block;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  margin-left: 5px;
  margin-bottom: 5px;
}

a .rond p{
  color: #000;
}

.rond p{
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.TPS{
  background-color: #84FFFF;
}

.PS{
  background-color: #18FFFF;
}

.MS{
  background-color: #00E5FF;
}

.GS{
  background-color: #00B8D4;
}

.rond-container{
  float: right;
}

.classes{
  margin-top: 10px;
}

header.entry-content .classes{
  margin-top: 0;
}

.petit .rond p{
  font-size: 12px;
  line-height: 25px;
}

.petit .rond{
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 39.9375em) {
  .rond p{
    font-size: 10px;
    line-height: 20px;
  }

  .rond{
    width: 20px;
    height: 20px;
  }
}

/*
Widgets
*/
.screen-reader-text{
  display: none;
}

.search-field{
  width: 100%;
}

label{
  width: 50%;
  margin: 5px 5px 5px 0;
  display: inline-block;
}

.search-form{
  width: 100%;
  display: inline-block;
}

.search-submit.button{
  display: inline-block;
  margin: 5px;
  background-color: #00BCD4;
  color: #000;
}


h4.widgettitle{
  font-weight: 600;
  padding-bottom: 0px;
  color: #455A64;
}

.widget{
  margin-top: 0px;
}

.widget a{
  color: #78909C;
}

.widgetHr{
  width: 100%;
  background-color: #00BCD4;
  border-color: #00BCD4;
  border-width: 3px;
  padding-top: 0;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 5px;
}

/*
Footer
*/

.footer{
  background-color: #455A64;
  color: #FFF;
  padding-top: 10px;
  padding-bottom: 30px;
}

.footHr{
  width: 40%;
  background-color: #90A4AE;
  border-color: #90A4AE;
}

.footer .widget{
  text-align: center;
}

.footer .widgettitle{
  color: #90A4AE;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
}

.footer a{
  color: #FFF;
}


/*
prevent FOUC from responsive nav
*/
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}


/*********************
LINK STYLES
*********************/
a:link, a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none; }

/*********************
HEADER STYLES
*********************/
.header ul.off-canvas-list li {
  list-style: none; }

/*********************
NAVIGATION STYLES
*********************/
.top-bar .title-area {
  z-index: 1; }

.off-canvas-list ul {
  margin-left: 0; }
  .off-canvas-list ul li a {
    border-bottom: 0px; }
  .off-canvas-list ul .dropdown {
    margin-left: 20px; }

/*********************
POSTS & CONTENT STYLES
*********************/
#content #inner-content {
  padding: 1rem 0rem; }

.page-title .vcard {
  border: 0px;
  padding: 0px; }

.byline {
  color: #999; }

.entry-content img {
  max-width: 100%;
  height: auto; }

.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto; }

.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px; }

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px; }
  .wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

.post-password-form input[type="submit"] {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 1rem 1rem 0;
  font-size: 0.9rem;
  /*background: #2199e8;*/
  color: #fff; }
  [data-whatinput='mouse'] .post-password-form input[type="submit"] {
    outline: 0; }
  .post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
    background: #1583cc;
    color: #fff; }

/*********************
IMAGE GALLERY STYLES
*********************/
/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
  margin-top: 1rem; }

/*********************
COMMENT STYLES
*********************/
#comments .commentlist {
  margin-left: 0px; }

#respond ul {
  margin-left: 0px; }

.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px; }
  .commentlist li:last-child {
    margin-bottom: 0; }
  .commentlist li ul.children {
    margin: 0; }

.commentlist li[class*=depth-] {
  margin-top: 1.1em; }

.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0; }

.commentlist li:not(.depth-1) {
  margin-left: 10px;
  margin-top: 0;
  padding-bottom: 0; }

.commentlist .vcard {
  margin-left: 50px; }
  .commentlist .vcard cite.fn {
    font-weight: 700;
    font-style: normal; }
  .commentlist .vcard time {
    float: right; }
    .commentlist .vcard time a {
      color: #999;
      text-decoration: none; }
      .commentlist .vcard time a:hover {
        text-decoration: underline; }
  .commentlist .vcard img.avatar {
    position: absolute;
    left: 10px;
    padding: 2px;
    border: 1px solid #cecece;
    background: #fff; }

.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em; }

.commentlist .comment-reply-link {
  float: right; }

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em; }
  .respond-form form {
    margin: 0.75em 0; }
    .respond-form form li {
      list-style-type: none;
      clear: both;
      margin-bottom: 0.7335em; }
      .respond-form form li label,
      .respond-form form li small {
        display: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url],
    .respond-form form textarea {
      padding: 3px 6px;
      background: #efefef;
      border: 2px solid #cecece;
      line-height: 1.5em; }
      .respond-form form input[type=text]:focus,
      .respond-form form input[type=email]:focus,
      .respond-form form input[type=url]:focus,
      .respond-form form textarea:focus {
        background: #fff; }
      .respond-form form input[type=text]:invalid,
      .respond-form form input[type=email]:invalid,
      .respond-form form input[type=url]:invalid,
      .respond-form form textarea:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        -ms-box-shadow: none;
        box-shadow: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url] {
      max-width: 400px;
      min-width: 250px; }
    .respond-form form textarea {
      resize: none;
      width: 97.3%;
      height: 150px; }

#comment-form-title {
  margin: 0 0 1.1em; }

#allowed_tags {
  margin: 1.5em 10px 0.7335em 0; }

.nocomments {
  margin: 0 20px 1.1em; }

/*********************
SIDEBARS & ASIDES
*********************/
.widget ul {
  margin: 0; }
  .widget ul li {
    list-style: none; }

/*********************
FOOTER STYLES
*********************/
.footer {
  clear: both;
  margin-top: 1em; }

/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
.gform_body ul {
  list-style: none outside none;
  margin: 0; }

/******************************************************************

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
/******************************************************************

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet.

Remember to add things that won't make sense to print at
the bottom. Things like nav, ads, and forms shouldbe set
to display none.
******************************************************************/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }
